header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background: linear-gradient(100deg,#61DAFB,#282C34) !important;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
}

.favorites{
    cursor: pointer;
    text-decoration: none;
    background-color: #FFF;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    color: #000;
}